* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    font-family: 'Roboto', sans-serif !important;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    height: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 170px;
    padding: 20px;
    object-fit: contain;
}

form {
    margin: 10px auto 0 auto;
    width: 50%;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 1px 12px 2px rgba(194, 194, 194, 1);
}

.line {
    margin-top: 10px;
    margin-bottom: 20px;
    border-top: 1px solid #eeeeee;
    height: 10px;
    width: 40%;
}

.input {
    margin-bottom: 20px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #8d8c8c;
    padding: 0.6em;
    display: flex;
}

* {
    font-family: 'Roboto', sans-serif;
}
input {
    background-color: none;
    border: none;
    outline: none;
    width: 100%;
}

.icon {
    color: #aaa8a8;
    margin-right: 10px;
}


.d-flex {
    display: flex;
    width: 100%;
}

.or {
    text-align: center;
    margin: 0px 20px 0px 20px;
    font-size: 20px;
    color: #817d7d;
}


button {
    width: 100%;
    padding: 0.6em;
    background-color: #fc4e2b;
    border: none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    border: 2px solid #fc4e2b;
    color: #fc4e2b !important;
    background-color: #fff;
}

button:hover a {
    color: #fc4e2b;
}

.signup-button {
    width: 100%;
    padding: 0.6em;
    background-color: #253f66;
    border: none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 20px;
}

.signup-button:hover {
    width: 100%;
    padding: 0.6em;
    background-color: #fff;
    border: 2px solid #253f66;
    border-radius: 2px;
    color: #253f66;
    cursor: pointer;
    margin-bottom: 20px;
}

.signup-button:hover a {
    color: #253f66;
}

.or-cont {
    margin: 0 auto;
    display: block;
    width: 100%;
}

a {
    color: #fff;
    text-decoration: none;
}


@media (min-width: 1024px) {
    form {
        margin: 0px auto 0 auto;
        width: 20%;
    }
}