* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Roboto', sans-serif;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
}

.logo {
  width: 100px;
  height: 70px;
}

.print-btn {
  height: 100%;
  padding: 10px 15px;
  margin-top: 20px;
  margin-left: 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: #fc4e2b;
  color: #fff;
}

.print-btn:hover {
  background-color: #f7684b;
}

.container {
  position: relative;
  width: 70%;
  margin: 20px auto;
}

.copy {
  position: absolute;
  top: 0;
  right: 0;
}

.copy h3 {
  font-size: 14px;
  padding-left: 15px;
  line-height: 0.6;
}


.row1, .row2 {
  display: flex;
  width: 100%;
  margin-top: 40px;
  justify-content: space-between;
  position: relative;
}

.column1 {
  width: 50%;
  
}

.sub-title {
  font-size: 14px;
}

.column2 {
  display: block;
  margin-top: 200px;
  width: 43%;
}

.price {
  display: flex;
  width: 150px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.box1 {
  height: 170px;
  border: 3px solid #000;
  margin-top: 70px;
}

.box2 {
  display: flex;
  position: relative;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
    width: 90%;
    margin-bottom: 40px;
    border: 3px solid #000;
    margin-top: 20px;
}

.sub-title, .sub-title2 {
  font-size: 14px;
  font-weight: bolder;
  margin-top: 10px;
}

.title {
  font-size: 12px;
}

.title1 {
  font-size: 12px;
  position: absolute;
  top: 20px;
  border-bottom: 1px solid #000;
  width: 100%;
  margin-bottom: 5px;
}

.copy2 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 50px;
}

.copy2 h3 {
  font-size: 14px;
  line-height: 0.6;
}

.row3 {
  position: relative;
}

.left h5 {
  margin-left: 230px;
}

.right {
  position: absolute;
  top: 0;
  right: 40px;

}

.date {
  display: flex;
  width: 150px;
  justify-content: space-between;
  text-align: right;
  float: right;
}

.date h6 {
  justify-content: end;
}

.name {
  width: 90%;
  display: inline-flex;
  margin-top: 60px;
  padding-right: 20px;
  justify-content: flex-end;
  float: right;
}

.line {
  border-bottom: 1px solid #000;
    width: 70%;
}

.sum {
  display: flex;
  width: 82%;
  padding-right: 20px;
  justify-content: flex-end;
  margin-left: 50px;
  float: right;
  margin-top: 20px;
}

.line-stack {
  width: 80%;
}

.lines {
  border-bottom: 1px solid #000;
    width: 97%;
    margin-bottom: 30px;
    margin-top: 10px;
}

.signature {
  display: flex;
  width: 85%;
  float: right;
  justify-content: space-evenly;
}

.signature h5 {
  padding-right: 280px;
}

h1 {
  position: relative;
  margin: 250px 0px 40px 250px;
  padding-top: 20px;
}

@media print {
  nav {
    display: none;
  }
  .box1 {
    height: 130px;
      border: 3px solid #000;
  }

  .box2 {
    display: flex;
    position: relative;
      flex-direction: column;
      justify-content: space-between;
      height: 60px;
      width: 90%;
      margin-bottom: 40px;
      border: 3px solid #000;
      margin-top: 10px;
  }

  .title1 {
    top: 10px;
  }

  .sub-title, .sub-title2 {
    font-size: 10px;
    margin-top: 5px;
  }

  .column2 {
    margin-top: 90px;
  }

  .signature h5 {
    padding-right: 160px;
  }

  h1 {
    margin: 70px 0 20px 90px;
  }
  .container {
    width: 80%;
  }
}