@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

nav {
  background-color: #f06b2e;
  display: flex;
  justify-content: space-between;
}

.username {
  color: #fff;
  font-size: 14px;
  padding: 5px;
}

.username:hover {
  cursor: pointer;
}

.user-icon {
  margin: 0 5px;
  font-size: 18px;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: 25px 80px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f06b2e;
  border-radius: 5px;
  min-width: 170px;
  min-height: 50px;
  margin: 5px 0;
  z-index: 1;
}

.dropdown-content a {
  color: #fff;
  padding: 8px 15px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ffffff;
  color: #f06b2e;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .username {
  color: #fff;
}

.logo {
  width: 50px;
  height: 50px;
  margin: 10px 80px;
}


.save-profile {
  padding: 10px 15px;
  border: none;
  background-color: #f06b2e;
  color: #fff;
  text-transform: uppercase;
  margin: 20px 80px;
  border-radius: 5px;
  cursor: pointer;
}


.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px 100px;
  grid-gap: 0;
  width: 100%;
}

.row1 {
  width: 40%;
}

.avatar {
  width: 50%;
  height: 100%;
  display: flex;
  margin-right: 10px;
  flex-direction: column;
}

.avatar button {
  padding: 10px;
  width: 185px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  background-color: #f06b2e;
}

.icon {
  font-size: 210px;
  color: #929292;
  border: 1px solid #747474;
  border-radius: 5px;
  margin-bottom: 10px;
}

.row2 {
  width: 50%;
}

.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.pass {
  margin-top: 20px;
}

label {
  font-size: 14px;
}

input {
  margin-top: 5px;
  padding: 10px;
  width: 70%;
  border: 1px solid #b9b9b9;
}

select {
  margin-top: 5px;
  padding: 10px;
  width: 70%;
  border: 1px solid #b9b9b9;
}

.change-password {
  padding: 10px 15px;
  border: none;
  background-color: #f06b2e;
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
}
