@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



body {
  font-family: 'Roboto',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

nav {
  background-color: #fc4e2b;
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 1px 12px 2px rgba(194, 194, 194, 1);

}


a {
  color: #fc4e2b;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 20px;
  font-size: 14px;
}

a:hover {
  text-decoration: none;
}

form label{
    margin: 0px 20px;
}

form input {
  padding: 5px;
}

.submit-btn {
  background-color: #fc4e2b;
  padding: 7px;
  margin-left: 20px;
  color: #ffffff;
  border-radius: 5px;
  border: none; 
}

.d-flex {
  display: flex;
  justify-content: space-between; 
}
.welcome {
  font-size: 26px;
  font-weight: 600;
  padding-left: 20px;
  color: #000;
}


.username {
  color: #fff;
  font-size: 14px;
  padding: 5px;
}

.username:hover {
  cursor: pointer;
  color: #ffffff;
}

.user-icon {
  margin: 0 5px;
  font-size: 18px;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: 25px 80px;
  color: #000;
}

.nav-link {

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  border-radius: 5px;
  min-width: 170px;
  z-index: 1;
}

.dropdown-content a {
  color: #000000;
  padding: 8px 15px;
  text-decoration: none;
  display: block;
  background-color: #ffffff;
}


.text-cont {
  font-size: 20px;
  font-weight: 400;
  width: 70%;
  margin: 0 auto;
}
.dropdown-content a:hover {
  background-color: #fc4e2b;
  color: #ffffff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .username {
  color: #ffffff;
}

.logo {
  width: 120px;
  height: 120px;
  object-fit: contain;
  margin: 10px 80px;
}


p {
  text-align: right;
  padding: 20px;
}



.container {
  margin: 50px auto 0 auto;
  width: 70%;
  height: 80%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  overflow: scroll;
  box-shadow: 1px 1px 12px 2px rgba(194, 194, 194, 1);
  position: relative;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

.footer-p {
  text-align: right;
  margin-right: 20px;
  color: #fc4e2b;
  font-weight: 600;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #ffffff;
}
