<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/styles/superUser.css?version=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/ebc2490d80.js" crossorigin="anonymous"></script>

  <title>Managers</title>
</head>

<body>
  <div class="page-container">
    <div class="content-wrap">
      <aside>
        <div class="img">
          <img src="../static/images/logos/titan-logo.png" alt="">
        </div>

        <div>
          <h5>Welcome, Admin</h5>
        </div>
        <div class="links">
          <a href="{{ url_for('admin') }}">Dashboard</a>
          <a href="{{ url_for('adminmanager') }}">Managers</a>
          <a href="{{ url_for('branches') }}">Branches</a>
          <a href="{{ url_for('regions') }}">Regions</a>
          <a href="{{ url_for('create_user') }}">Create user</a>
          <a href="javascript:history.back()">Back</a>
          <a href="{{ url_for('logout') }}">Sign out</a>
        </div>
      </aside>
      <main>
        <div class="heading">
          <h2 style="margin-bottom: 40px;">Managers</h2>
        </div>

        {% for manager in managers %}
        <div class="drop-btn" onclick="toggleList()">
          <h5 class="display-btn">Manager {{ manager.officer.first_name }}</h5>
          <span><i class="fa fa-caret-down" aria-hidden="true"></i></span>
        </div>


        <div class="tellers">
          {% for teller in manager.tellers.all() %}
          <p>Teller {{ teller.officer.first_name }}</p>
          {% endfor %}
        </div>
        {% endfor %}
      </main>
    </div>
  </div>



  <script>
    function toggleList() {
      const dropDown = document.querySelector(".tellers");
      if (dropDown.style.display === "none") {
        dropDown.style.display = "block";
      } else {
        dropDown.style.display = "none";
      }
    }
  </script>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
</body>

</html>