<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <link rel="stylesheet" href="../static/styles/superUser.css?version=1" />
    <script src="https://kit.fontawesome.com/ebc2490d80.js" crossorigin="anonymous"></script>
    <title>MC PRINT - Dashboard</title>
</head>

<body>

    <div class="page-container">
        <div class="content-wrap">
            <aside>
                <div class="img">
                    <img src="../static/images/logos/titan-logo.png" alt="">
                </div>

                <div>
                    <h5>Welcome, Admin {{ current_user.first_name }}</h5>
                </div>
                <div class="links">
                    <a href="{{ url_for('adminmanager') }}">Managers</a>
                    <a href="{{ url_for('branches') }}">Branches</a>
                    <a href="{{ url_for('regions') }}">Regions</a>
                    <a href="javascript:history.back()">Back</a>
                    <a href="{{ url_for('logout') }}">Sign out</a>
                </div>
            </aside>

            <main>

                <div class="d-flex space-between">
                    <div class="card">
                        <div class="card-body">
                            <p>{{ tellers }}</p>
                            <p class="title">Tellers</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <p>{{ managers }}</p>
                            <p class="title">Managers</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <p>{{ branches }}</p>
                            <p class="title">Branches</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <p>{{ regions }}</p>
                            <p class="title">Regions</p>
                        </div>
                    </div>
                </div>
            </main>


        </div>

    </div>

    </div>
</body>

</html>