<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="styles/admin.css?version1" />
    <script src="https://kit.fontawesome.com/ebc2490d80.js" crossorigin="anonymous"></script>
    <title>MC PRINT - Admin</title>
  </head>
  <body>
    <nav>
      <img src="logos/compucode-logo.png" alt="logo" class="logo" />
      <a href="index.html">Sign out</a>
    </nav>
    <aside>
      <h3>Create User</h3>
      <form method="post">
        <input type="text" placeholder="First name" />
        <input type="text" placeholder="Last name" />
        
        <input type="text" placeholder="username" />
        <input type="email" placeholder="Email Address" />
        
        
        <input type="password" placeholder="Password" />
        
        <input type="password" placeholder="Confirm Password" />

        <button>ADD</button>
      </form>
    </aside>
    <h5>Welcome, Admin</h5>
    <main>
      
      <p>Users</p>
      <div class="container">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">User</th>
                <th scope="col">Email</th>
                <th scope="col">Created At</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">John Doe</th>
                <td>john@gmail.com</td>
                <td>08/06/2020</td>
                <td><i class="fa fa-trash"></i></td>
              </tr>
              <tr>
                <th scope="row">John Doe</th>
                <td>john@gmail.com</td>
                <td>08/06/2020</td>
                <td><i class="fa fa-trash"></i></td>
              </tr>
              <tr>
                <th scope="row">John Doe</th>
                <td>john@gmail.com</td>
                <td>08/06/2020</td>
                <td><i class="fa fa-trash"></i></td>
              </tr>
              <tr>
                <th scope="row">John Doe</th>
                <td>john@gmail.com</td>
                <td>08/06/2020</td>
                <td><i class="fa fa-trash"></i></td>
              </tr>
              <tr>
                <th scope="row">John Doe</th>
                <td>john@gmail.com</td>
                <td>08/06/2020</td>
                <td><i class="fa fa-trash"></i></td>
              </tr>
              <tr>
                <th scope="row">John Doe</th>
                <td>john@gmail.com</td>
                <td>08/06/2020</td>
                <td><i class="fa fa-trash"></i></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </main>
  </body>
</html>
