<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/styles/superUser.css?version=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <title>MC PRINT - regions</title>
</head>
<body>
  <div class="page-container">
    <div class="content-wrap">
      <aside>
        <div class="img">
          <img src="../static/images/logos/titan-logo.png" alt="">
        </div>  
       
        <div>
          <h5>Welcome, Admin</h5>
        </div>
        <div class="links">
          <a href="{{ url_for('admin') }}">Dashboard</a>
          <a href="{{ url_for('adminmanager') }}">Managers</a>
          <a href="{{ url_for('regions') }}">Regions</a>
          <a href="javascript:history.back">Back</a>
          <a href="{{ url_for('logout') }}">Sign out</a>
        </div>
      </aside>
      <main>
        <h4>Branches</h4>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Branch</th>
                <th scope="col">Created At</th>
                <th scope="col">Manager</th>
              </tr>
            </thead>
            <tbody>

              {% for branch in branches %}
                <tr>
                  <th scope="row">{{ branch.branch }} Branch</th>
                  <td>08/06/2020</td>
                  <td class="view-btn"><a href="{{ url_for('viewmanager', manager_id=branch.managers.first().id) }}">View Manager</a></td>
                </tr>
              {% endfor %}
              
            </tbody>
          </table>
        </div>
      </main>
    </div>
  </div>

</body>
</html>