<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/styles/superUser.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <title>MC PRINT - tellers</title>
</head>
<body>
  <div class="page-container">
    <div class="content-wrap">
      <aside>
        <div class="img">
          <img src="../static/images/logos/titan-logo.png" alt="">
        </div>  
       
        <div>
          <h5>Welcome, Admin</h5>
        </div>
        <div class="links">
          <a href="{{ url_for('users') }}">Users</a>
          <a href="">Managers</a>
          <a href="">Tellers</a>
          <a href="{{ url_for('logout') }}">Sign out</a>
        </div>
      </aside>
      <main>
        <h4>Manager's Tellers</h4>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Teller</th>
                <th scope="col">Created At</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Teller1</th>
                <td>08/06/2020</td>
              </tr>
              <tr>
                <th scope="row">Teller2</th>
                <td>08/06/2020</td>
              </tr>
              <tr>
                <th scope="row">Teller3</th>
                <td>08/06/2020</td>
              </tr>
              <tr>
                <th scope="row">teller4</th>
                <td>08/06/2020</td>
              </tr>
              <tr>
                <th scope="row">Teller5</th>
                <td>08/06/2020</td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </main>
    </div>
  </div>

</body>
</html>