<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/styles/print.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

  <title>MC-PRINT | Print-file</title>
</head>

<body>
  <nav>
    <img class="logo" src="../static/images/logos/compucode-logo.png" alt="logo">
    <img class="logo" src="../static/images/logos/titan-logo.png" alt="logo">
  </nav>
  <div class="container">
    <div class="col1">
      <div class="box1">
        <h4>DETAILS</h4>
        <h2>MC PRINTS</h2>
      </div>
      <div class="box2">
        <div>
          <p>Account Name</p>
          <h2>Bolaji Ahmed</h2>
        </div>
        <div>
          <p>Account Number</p>
          <h2>0023450543</h2>
        </div>
      </div>
    </div>
    <div class="col2">
      <div>
        <p>AMOUNT</p>
        <span>N 123,456.12</span>
      </div>
      <div>
        <p>COMMISSION</p>
        <span>N 650.34</span>
      </div>
      <div>
        <p>VAT</p>
        <span>N 123.67</span>
      </div>
      <div>
        <p>TOTAL DEBIT</p>
        <span>N 124,456.12</span>
      </div>

    </div>
    <img src="../static/images/check.jpg" alt="file">
  </div>
</body>

</html>