<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/styles/print.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

  <title>MC-PRINT | Print-file</title>
</head>

<body>
  <nav>
    <img class="logo" src="../static/images/logos/compucode-logo.png" alt="logo">
    <img class="logo" src="../static/images/logos/titan-logo.png" alt="logo">
  </nav>
  <div class="container">
    <div class="col1">
      <div class="box1">
        <h4>DETAILS</h4>
      </div>
      <div class="box2">
        <div class="inner1">
          <p>Account Name</p>
        </div>
        <div class="inner2">
          <p>Account No.</p>
        </div>
      </div>
      <div class="box3">
        <h4>DETAILS</h4>
      </div>
      <div class="box2">
        <div class="inner1">
          <p>Account Name</p>
        </div>
        <div class="inner2">
          <p>Account No.</p>
        </div>
      </div>
    </div>
    
    <div class="col2">
      <div class="amount">
        <div>
          <p>AMOUNT</p>
        </div>
        <div>
          <p>COMMISSION</p>
        </div>
        <div>
          <p>VAT</p>
        </div>
        <div>
          <p>TOTAL DEBIT</p>
        </div>
      </div>
      
      <div class="amount2">
        <div>
          <p>AMOUNT</p>
        </div>
        <div>
          <p>COMMISSION</p>
        </div>
        <div>
          <p>VAT</p>
        </div>
        <div>
          <p>TOTAL DEBIT</p>
        </div>
      </div>
    </div>
    
  </div>
  <div class="check">
    <div class="date">
      <h5>Day</h5>
      <h5>Month</h5>
      <h5>Year</h5>
    </div>
    <div class="cheque">
      <h5>Name:</h5><hr>
      <h5>The sum of:</h5><hr>
      <h5>Authorized Signature</h5>
    </div>
    <h2>MANAGER'S CHEQUE</h2>
  </div>
</body>

</html>