<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/profile.css">
  <script src="https://kit.fontawesome.com/ebc2490d80.js" crossorigin="anonymous"></script>
  <title>MC PRINT - Profile</title>
</head>

<body>
  <nav>
    <img src="logos/compucode-logo.png" alt="logo" class="logo">
    <a href="index.html">Sign out</a>
  </nav>
  <h3>USER DETAILS</h3>
  <button class="save-btn">Save</button>
  <div class="container">
    <div class="row1">
      <div class="avatar">
        <i class="fa fa-user icon"></i>
        <button>Change</button>
      </div>
    </div>
    <div class="row2">
      <div class="inputs">
        <div class="input">
          <label for="name">Name</label>
          <input type="text" value="John Doe" id="name">
        </div>
        <div class="input">
          <label for="gender">Gender</label>
          <select name="gender" id="gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>
        <div class="input">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" value="john@gmail.com">
        </div>
        <span>Change Password</span>
        <div class="input pass">
          <label for="password">Old Password</label>
          <input type="password" placeholder="Old Password" id="password">
        </div>
        <div class="input">
          <label for="newPassword">New Password</label>
          <input type="password" placeholder="New Password" id="newPassword">
        </div>
        <div class="input">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" placeholder="Confirm Password" id="confirmPassword">
        </div>

      </div>

    </div>

  </div>
</body>

</html>