<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="./styles/report.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

  <title>MC PRINT - Reports</title>
</head>
<body>
   <nav>
     <img class="logo" src="logos/compucode-logo.png" alt="logo">
     <a href="index.html">sign out</a>
   </nav>
  <div class="container">
    
    <label>From</label>
    <input type="text">
    <label>To</label>
    <input type="text">                                                                                     
  <div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
        <th>MC Unique ID</th>
        <th>MC Value</th>
        <th>Status</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1913567</td>
        <td>100,000,000.00</td>
        <td>Printed</td>
        <td>13/06/20</td>
      </tr>
    </tbody>
    <tbody>
        <tr>
          <td>1913567</td>
          <td>100,000,000.00</td>
          <td>Printed</td>
          <td>13/06/20</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td>1913567</td>
          <td>100,000,000.00</td>
          <td>Printed</td>
          <td>13/06/20</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td>1913567</td>
          <td>100,000,000.00</td>
          <td>Printed</td>
          <td>13/06/20</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td>1913567</td>
          <td>100,000,000.00</td>
          <td>Printed</td>
          <td>13/06/20</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td>1913567</td>
          <td>100,000,000.00</td>
          <td>Printed</td>
          <td>13/06/20</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td>1913567</td>
          <td>100,000,000.00</td>
          <td>Printed</td>
          <td>13/06/20</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td>1913567</td>
          <td>100,000,000.00</td>
          <td>Printed</td>
          <td>13/06/20</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td>1913567</td>
          <td>100,000,000.00</td>
          <td>Printed</td>
          <td>13/06/20</td>
        </tr>
      </tbody>
  </table>
  </div>
  
</div>
</body>
</html>