<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/index.css">
    <script src="https://kit.fontawesome.com/ebc2490d80.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>MC PRINT - login</title>
</head>

<body>
    <nav>
        <img src="static/images/logos/compucode-logo.png" class="logo" alt="logo">
        <img src="static/images/logos/titan-logo.png" class="logo" alt="logo">
    </nav>

    <div class="signup">
        <form action="" method="post">
            {{ form.hidden_tag() }}

            <h2>Login</h2>
            <br>
            {% for error in form.username.errors %}
            <span style="color: red; font-size: 12px;">{{ error }}</span>
            {% endfor %}
            <div class="input">
                <i class="fa fa-user icon"></i>
                <input type="text" name="username" id="username" placeholder="Username or Email">
            </div>
            {% for error in form.password.errors %}
            <span style="color: red; font-size: 12px;">{{ error }}</span>
            {% endfor %}
            <div class="input">
                <i class="fa fa-lock icon"></i>
                <input type="password" name="password" id="password" placeholder="Password">
    
            </div>

            {% with messages = get_flashed_messages() %}
        
            {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li> <span style="color: royalblue; font-size: 14px; text-align: center;">{{ message }}</span> </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}

            <button type="submit" id="submit" name="submit">Login</button>
            <button type="button"><a href="/signup">Create an Account</a></button>
            
            <div class="or-cont">
                <div class="d-flex">
                    <div class="line" width="30%"></div>
                    <h2 class="or">OR</h2>
                    <div class="line" width="30%"></div>
                </div>
            </div>
            <button class="signup-button"><a href="">Sign in with Flexcube</a></button>
        </form>  
    </div>
</body>

</html>