<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/styles/signup.css?version=1" />
  <script src="https://kit.fontawesome.com/ebc2490d80.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />

  <title>MC-PRINT | Signup</title>
</head>

<body>
  <div class="page-container">
    <div class="content-wrapper">
      <nav>
        <div style="width: 100px; height: 100px;"></div>
        <img src="../static/images/logos/titan-logo.png" class="logo" alt="logo" />
      </nav>

      <div class="signup">
        <form action="" method="post">
          {{ form.hidden_tag() }}
          <h2>Create an Account</h2>
          <br />
          <div class="input">
            <i class="fa fa-user icon"></i>
            <input type="text" name="first_name" id="first_name" placeholder="Firstname" />
          </div>
          <div class="input">
            <i class="fa fa-user icon"></i>
            <input type="text" name="last_name" id="last_name" placeholder="Lastname" />
          </div>

          {% for error in form.username.errors %}
          <span style="color: red; font-size: 12px;">{{ error }}</span>
          {% endfor %}

          <div class="input">
            <i class="fa fa-user icon"></i>
            <input type="text" name="username" id="username" placeholder="Username" />
          </div>

          {% for error in form.email.errors %}
          <span style="color: red; font-size: 12px;">{{ error }}</span>
          {% endfor %}

          <div class="input">
            <i class="fa fa-envelope icon"></i>
            <input type="email" name="email" id="email" placeholder="Email" />
          </div>

          {% for error in form.confirm_email.errors %}
          <span style="color: red; font-size: 12px;">{{ error }}</span>
          {% endfor %}

          <div class="input">
            <i class="fa fa-envelope icon"></i>
            <input type="email" name="confirm_email" id="confirm_email" placeholder="Comfirm email" />
          </div>

          {% for error in form.password.errors %}
          <span style="color: red; font-size: 12px;">{{ error }}</span>
          {% endfor %}

          <div class="input">
            <i class="fa fa-lock icon"></i>
            <input type="password" name="password" id="password" placeholder="Password" />
          </div>

          {% for error in form.confirm_password.errors %}
          <span style="color: red; font-size: 12px;">{{ error }}</span><br>
          {% endfor %}


          <div class="input">
            <i class="fa fa-lock icon"></i>
            <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm password" />
          </div>


          <button type="submit" id="submit" name="submit">Create an Account</button>
          <div class="line"></div>
          <a class="login-btn" href="{{ url_for('signin') }}">Login</a>
        </form>
      </div>
</body>

</html>