<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='table.css') }}">
</head>
<body>

<div class="container">
    <p>Welcome, chioma smith</p>
    <label>From</label>
    <input type="text">
    <label>To</label>
    <input type="text">                                                                                     
  <div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
        <th>MC Unique ID</th>
        <th>MC Value</th>
        <th>Status</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1913567</td>
        <td>100,000,000.00</td>
        <td>Printed</td>
        <td>13/06/20</td>
      </tr>
    </tbody>
    <tbody>
        <tr>
          <td>1913567</td>
          <td>100,000,000.00</td>
          <td>Printed</td>
          <td>13/06/20</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td>1913567</td>
          <td>100,000,000.00</td>
          <td>Printed</td>
          <td>13/06/20</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td>1913567</td>
          <td>100,000,000.00</td>
          <td>Printed</td>
          <td>13/06/20</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td>1913567</td>
          <td>100,000,000.00</td>
          <td>Printed</td>
          <td>13/06/20</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td>1913567</td>
          <td>100,000,000.00</td>
          <td>Printed</td>
          <td>13/06/20</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td>1913567</td>
          <td>100,000,000.00</td>
          <td>Printed</td>
          <td>13/06/20</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td>1913567</td>
          <td>100,000,000.00</td>
          <td>Printed</td>
          <td>13/06/20</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td>1913567</td>
          <td>100,000,000.00</td>
          <td>Printed</td>
          <td>13/06/20</td>
        </tr>
      </tbody>
  </table>
  </div>
  <div>
      <input type="button" value="Sign out">
  </div>
</div>
</body>
</html>