<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/ebc2490d80.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='welcome.css') }}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />

    <title>MC PRINT - welcome</title>
  </head>

  <body>
    <nav>
      <img class="logo" src="static/images/logos/compucode-logo.png" alt="logo" />
      <ul>
        <li>
          <a href="admin.html"><i class="fa fa-user"></i> {{ current_user.first_name }} {{ current_user.last_name }}</a>
        </li>
        <ul>
          <li><a href="index.html">Profile</a></li>
          <li>
            <a href="{{ url_for('logout') }}"><i class="fa fa-sign-out"></i>Logout</a>
          </li>
        </ul>
      </ul>
    </nav>
    <div class="container">
      <p class="welcome">Welcome, {{ current_user.first_name }} {{ current_user.last_name }}</p>
    </div>
    <div class="container">
      <div class="card1">
        <img src="static/images/printer.png" class="img" />
        <a href="{{ url_for('print') }}">MC PRINT JOB</a>
      </div>
      <div class="card2">
        <img src="static/images/growth.png" class="img" />
        <a href="{{ url_for('records') }}">MC REPORT</a>
      </div>
    </div>
  </body>
</html>
